# --- Environment Variable ---
.env

# --- IDEs ---
.idea/
.vscode/
*.iml
*.iws
*.ipr

# --- Build and Compilers ---
out/
bin/
target/
build/

# --- Library and Dependencies ---
lib/
receipts/
*.jar

# --- Operational System Files ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log

